.App{ 
    font-family: sans-serif;
    max-width: 500px;
    margin-left: 300px;
    
  }
  
  .bulb-off,
  .bulb-on {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .bulbs-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .bulb-off {
    background-image: url("../components/images/bulb-off.svg");
  }
  
  .bulb-on {
    background-image: url("../components/images/bulb-on.svg");
  }
  
  button {
    margin-top: 50px;
    margin-left: 60px;
    padding: 10px 40px;
    font-size: 20px;
    background-color: #fff;
    color: black;
    border-radius: 6px;
    border-color: black;
    cursor: pointer;
  }

  button:hover{

  background-color: orange;
  color: aqua;

  }
  